body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
  height: 100%;
  background-image: url('../public/img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

@font-face {
  font-family: 'digital-clock'; 
  src: url('../../sportturnier/public/assets/digital-7.ttf') 
            format('truetype');
 }

 @font-face {
  font-family: 'digital-clock2'; 
  src: url('../../sportturnier/public/assets/Digital Dismay.otf') 
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


form {
  padding: 20px;
  max-width: 400px;
  min-width: 300px;
  background-color: rgb(205, 179, 227);
}

.App {
  min-height: 100vh;
}


.formData {
  display: flex;
  gap: 10px;
}

.navbar-light {
  background-color: #e3f2fd !important;
}

.glass {
  /* From https://css.glass */
  background: rgba(6, 114, 205, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(6, 114, 205, 1);
}

.glass-white {
  /* From https://css.glass */
  background: rgba(252, 253, 254, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(252, 253, 254, 1);
}

.glass-dark {
  /* From https://css.glass */
  background: rgba(33, 34, 34, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(33, 34, 34, 1);
}

.glass-green {
/* From https://css.glass */
background: rgba(159, 193, 227, 0.9);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
backdrop-filter: blur(13.1px);
-webkit-backdrop-filter: blur(13.1px);
border: 1px solid rgba(159, 193, 227, 1);
}

.w-15 {
  width: 15%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}


.timer-container {
  font-family: 'digital-clock', sans-serif; 
  display: flex;
  justify-content: center;
}

.timer-text {
  font-size: 2rem; 
}

.circle{
  width: 200px;
  height: 200px;
  padding: 20px;
}

circle {
  stroke: rgba(#fff, 0.25);
  stroke-width: 5px;
  stroke-dasharray: 0;
  fill: none;
}

.meter {
  stroke-width: 5px;
  stroke: #fff;
  fill: none;
  transition: stroke-dashoffset 1s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transform-origin: center center;
  transform: rotate(-90deg) scaleX(-1);
}

.timer-buttons{
  width: 95%;
  display: flex;
  justify-content: space-around;
}

text {
  fill: #fff;
}

.navImg{
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.content{
  background-color: #e3f2fd !important;
  color: black !important;
  cursor: pointer;
}

.content:hover{
  text-decoration: none !important;
    background-image: linear-gradient(to top right,  #add5e9, #e3f2fd) !important;
}

a{
  color: unset !important;
}

a:hover {
  text-decoration: none !important;
  color: rgb(66, 66, 66) !important;
}


